.outer-square {
  width: 600px;
  height: 600px;
  display: grid;
  gap: 10px;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
}
.inner-square {
 background-color: green;

}
.circle {
  background-color: blue;
  border-radius: 50%;
}
